*.iml
.gradle
/local.properties
/.idea/caches
/.idea/sonarlint
/.idea/libraries
/.idea/atlassian-ide-plugin.xml
/.idea/gradle.xml
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
